/*
Huerate - Mobile System for Customer Feedback Collection
Master Thesis at BUT FIT (http://www.fit.vutbr.cz), 2013
Available at http://huerate.cz

Author: Bc. Jakub Kadlubiec, xkadlu00@stud.fit.vutbr.cz or jakub.kadlubiec@gmail.com
*/

@import "shared/variables";

// headers
h1 {
	font-size: 72 / $defaultFontSize * 1em;
	font-family: "LiberationSerifBoldItalic";
}
h2 {
	font-size: 35 / $defaultFontSize * 1em;
	font-family: "LiberationSerif";
}