@*
Huerate - Mobile System for Customer Feedback Collection
Master Thesis at BUT FIT (http://www.fit.vutbr.cz), 2013
Available at http://huerate.cz

Author: Bc. Jakub Kadlubiec, xkadlu00@stud.fit.vutbr.cz or jakub.kadlubiec@gmail.com
*@

@using Huerate.WebUI.HtmlHelpers
@using Huerate.WebViewModels.Admin
@{
    ViewBag.Title = Html.Tr("General_RestaurantAdministration") + " " + ViewBag.CurrentUser.DisplayName;
    Layout = "../Layout/_AdminLayout.cshtml";
}

<div class="admincontent-wrapper">
    @Html.ValidationSummary()

    @Html.Partial("ChangeEmailPartial", new ChangeEmailModel {NewEmail = ViewBag.CurrentUser.Email})
    @Html.Partial("ChangePasswordPartial")
    @Html.Partial("DeleteAccountPartial")
</div>