@*
Huerate - Mobile System for Customer Feedback Collection
Master Thesis at BUT FIT (http://www.fit.vutbr.cz), 2013
Available at http://huerate.cz

Author: Bc. Jakub Kadlubiec, xkadlu00@stud.fit.vutbr.cz or jakub.kadlubiec@gmail.com
*@

@using Huerate.WebUI.HtmlHelpers
@model Huerate.WebViewModels.Admin.ResultsQuestionModel

<div class="result-item">
    <h3>@Html.Tr(Model.QuestionText)</h3>
    <div class="results-numbers-wrapper">
        @Model.AnswersCount @Html.Tr("Admin_Answers")
        <strong>
            @if (Model.AverageAnswer == null)
            {
                @:N/A
            }
            else
            {
                @(string.Format("{0:0}%", Model.AverageAnswer))
            }
        </strong>
    </div>
</div>