@*
Huerate - Mobile System for Customer Feedback Collection
Master Thesis at BUT FIT (http://www.fit.vutbr.cz), 2013
Available at http://huerate.cz

Author: Bc. Jakub Kadlubiec, xkadlu00@stud.fit.vutbr.cz or jakub.kadlubiec@gmail.com
*@

@using Huerate.WebUI.HtmlHelpers
@model Huerate.WebViewModels.Form.FormLanguageSelectionStepModel

<div class="language-selection">
    <h1 class="centered" data-bind="text: trObs('@Model.TitleText')"></h1>
    <!-- ko foreach: languages -->
    <a href="#" class="form-language-selector" data-bind="text: $root.translator.getLanguageName($data), click: $root.setCurrentLanguage, css: { selected: $root.translator.currentFormLanguage() == $data}"></a>
    <!-- /ko -->
</div>