@*
Huerate - Mobile System for Customer Feedback Collection
Master Thesis at BUT FIT (http://www.fit.vutbr.cz), 2013
Available at http://huerate.cz

Author: Bc. Jakub Kadlubiec, xkadlu00@stud.fit.vutbr.cz or jakub.kadlubiec@gmail.com
*@

@using Huerate.WebUI.HtmlHelpers
@model Huerate.WebViewModels.Form.FormTextQuestionStepModel

<div class="content-wrapper centered">
    <h1 data-bind="text: trObs('@Model.TitleText')"></h1>
    <p class="desc" data-bind="text: trObs('@Model.InfoText')"></p>

    <div class="moreinfo-wrapper" data-role="fieldcontain">
        <textarea class="moreinfo" rows="8" name="textarea" class="moreinfotextarea" data-form-step-id="@Model.FormStepId"></textarea>
    </div>

    <button class="moreinfobutton" data-bind="text: trObs('@Model.SubmitButtonText')"></button>
</div>